/* ================================= *\

	custom css
	v1.0	2015-08-31	jd
	
\* ================================= */




/* core overrides
----------------- */

body {
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
}

.lead strong {
	font-weight: 400;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}




/* typo
------- */

body {
	font-weight: 300;
}

a {
    color: #C0392B;
    text-decoration: none;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

h1, h2, h3, h4 {
	font-weight: 300;
	margin-top: 0;
}




/* --------------------------------- *\

	navbar

\* --------------------------------- */

.navbar-fixed-top {
	border-width: 0;
}

.navbar-fixed-top .navbar-brand {
	font-size: 12px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: .2em;
	text-transform: uppercase;
}




/* --------------------------------- *\

	color swatches

\* --------------------------------- */

.color-tile {
	padding: 20px;
	margin-bottom: 30px;
}




/* --------------------------------- *\

	responsive styles

\* --------------------------------- */

/* background
------------- */

.moradared-bg {background: #b5152b; color: #ffffff;}
.moradared-bg small {color: #ffffff;}

.metroredlight-bg {background: #e74c3c; color: #ffffff;}
.metroredlight-bg small {color: #ffffff;}

.metrogold-bg {background: #CCA55F; color: #ffffff;}
.metrogold-bg small {color: #ffffff;}

.metrogreydark-bg {background: #363636; color: #ffffff;}
.metrogreydark-bg small {color: #ffffff;}

.metrored-bg {background: #C0392B; color:#ffffff;}
.metrored-bg small {color: #ffffff;}

.metrogreen-bg {background: #5CBE46; color:#ffffff;}
.metrogreen-bg small {color: #ffffff;}

.metrocyan-bg {background: #0DC2A7; color:#ffffff;}
.metrocyan-bg small {color: #ffffff;}

.metroblue-bg {background: #3085D6; color:#ffffff;}
.metroblue-bg small {color: #ffffff;}

.metroorange-bg {background: #CE8303; color:#ffffff;}
.metroorange-bg small {color: #ffffff;}

.metrocloud-bg {background: #F2F2F2;}


.default-bg {background: #f9f9f9; color: #363636;}
.default-bg small {color: #363636;}

.primary-bg {background: #428bca; color: #ffffff;}
.primary-bg small {color: #ffffff;}

.info-bg {background: #5bc0de; color: #ffffff;}
.info-bg small {color: #ffffff;}

.success-bg {background: #5cb85c; color: #ffffff;}
.success-bg small {color: #ffffff;}

.warning-bg {background: #f0ad4e; color: #ffffff;}
.warning-bg small {color: #ffffff;}

.danger-bg {background: #d9534f; color: #ffffff;}
.danger-bg small {color: #ffffff;}




/* lg
----- */ 

@media (min-width: 1200px) {
	
}

/* md
----- */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* sm
----- */

@media (min-width: 768px) and (max-width: 991px) {
	
}

/* xs
----- */

@media (max-width: 767px) {
	
}

/* xs Portrait
-------------- */

@media (max-width: 479px) {
	
}